body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfce9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    
}

header .logo img {
    width: 120px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: lighter;
}

header .icons a {
    margin-left: 20px;
}

header .icons img {
    width: 24px;
    height: 20px;
}
.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

main {
    padding: 50px;
}

.filters  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .filters  ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
}
nav .filters  ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav.filters  ul li {
    display: inline;
}


.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.product-card {
    background-color: #fdfce9;
    padding: 20px;
    text-align: center;
    border: 1px solid #e6c2bf;
    border-radius: 5px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card button {
    background-color: #fdfce9;
    color: black;
    padding: 10px 20px;
    border-color: #f9adba;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
